.issuesFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  margin-bottom: 1rem;
}

.clickDesc {
  font-size: 10px;
  letter-spacing: -0.2px;
  opacity: 0.6;
  margin-right: 0.8rem;
}

.backBtn {
  background: transparent;
  border: 1px solid #242424;
  padding: 7px 10px;
  border-radius: 2px;
  width: max-content;
  margin-left: 0.8rem;
  font-size: 10px;
}

.backBtn:hover {
  background: #e7e7e7;
}

.errorTxt {
  color: #b70000;
}

.loadBtn {
  padding: 0.8rem;
  font-size: 12px;
  letter-spacing: -0.1px;
  border: 2.3px solid #000;
  border-radius: 0;
  background: transparent;
  display: flex;
  margin: 0 auto;
  margin-top: 3.2rem;
  border-radius: 2px;
}

.loadBtn:hover {
  background: #e7e7e7;
}

.loadBtn:before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  content: "";
  transition: all 0.1s;
  border: 1px solid #000;
  border-radius: 2px;
}

.loadBtn:active:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.hitNum {
  padding: 1rem 0;
  text-align: center;
}

.hitNum span {
  font-weight: bold;
}

.viewer {
  overflow-y: scroll;
  height: 60vh;
  width: 100%;
  margin: 0 auto;
  color: #3b3b3b;
}

.viewer .name {
  font-weight: bolder;
  font-size: 14px;
  padding-bottom: 7px;
}

.viewer .issueLink {
  z-index: 2;
  position: relative;
}

.viewer ul {
  list-style: none;
  margin-bottom: 0.1rem;
  padding: 0.5rem 1rem;
}

.viewer .viewer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #b3b3b3 1px solid;
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.viewer .viewer_flex:hover {
  background-color: #efefef;
}

.viewer .data_left {
  padding-right: 7rem;
}

.viewer .desc {
  font-size: 12px;
}

.viewer .state {
  font-size: 12px;
  padding: 1px 0;
}

.viewer .createdDay,
.viewer .updatedDay {
  font-size: 11px;
}

.viewer .stargazer {
  font-size: 11px;
}

.viewer .data_right {
  padding-right: 1rem;
}

@media screen and (max-width: 1450px) {
  .viewer {
    height: 50vh;
  }
}
