.home {
  width: 100%;
  height: 100vh;
  background-image: url("https://tailwindcss.com/_next/static/media/hero@75.b2469a49.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  padding: 1.3rem 2rem;
  border-bottom: 1px solid #fff;
  max-height: 10vh;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .title {
  font-size: 24px;
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px #000;
  letter-spacing: 0px;
}

.animateGithub:hover .textGithub {
  color: #000;
}

.animateGithub .textGithub,
.animateGithub > div {
  position: absolute;
}

.animateGithub .textGithub {
  top: 4.3%;
  right: 7%;
  z-index: 1;
  color: #fff;
  /* transition: var(--transition); */
}

.animateGithub > div {
  width: 30px;
  height: 40px;
  right: 6%;
  top: 3%;
  mix-blend-mode: multiply;
}

/* Circles */
.circle01 {
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  animation: border-animation 6s infinite linear;
}
.circle02 {
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
  animation: border-animation 4s infinite linear;
}
.circle03 {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  animation: border-animation 3s infinite linear;
}

/* Animation */
@keyframes border-animation {
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 6rem;
  max-height: 80vh;
  height: 80vh;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.form {
  padding-bottom: 1rem;
}

.form input {
  padding: 10px 20px;
}

.form input:focus {
  box-shadow: 0 0 5px 0 rgba(255, 153, 0, 1);
  border: 2px solid #fff !important;
  outline: 0;
}

.viewer {
  overflow-y: scroll;
  height: 70vh;
}

.viewer .issueLink {
  z-index: 2;
  position: relative;
}

.viewer ul {
  list-style: none;
  margin-bottom: 0.1rem;
  padding: 0.5rem 1rem;
}

.viewer ul:hover {
  background-color: #e4e4e4;
}

.viewer .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.viewer .flex .github {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  height: fit-content;
}

.viewer .flex .github:hover {
  color: #0c9402;
}

.viewer .desc {
  color: #686868;
  font-size: 11px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
  padding: 1rem;
  max-height: 10vh;
  height: 10vh;
}

.footer p {
  font-size: small;
}

@media screen and (min-width: 1000px) {
  .animateGithub .textGithub {
    top: 4.3%;
    right: 6.8%;
    font-size: 20px;
  }

  .animateGithub > div {
    width: 40px;
    height: 50px;
    right: 6%;
    top: 2.5%;
  }
}
